.player-ability {
  float: left;
  margin-top: 20px;
  width: 200px;
  height: 100px;
}

.player-ability-disabled {
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 150%;
  background: dimgrey;
  color: silver;
}

.player-ability-cooldown {
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 300%;
  background: dimgrey;
  color: silver;
}

.player-ability-ready {
  background: silver;
  color: black;
}

.player-ability-title {
  font-size: 100%;
  font-weight: bolder;
}

.player-ability-stats {
  font-size: 75%;
}

.player-ability-description {
  font-size: 75%;
}
