.unit-group {
  position: absolute;
  top: 20px;
  width: 240px;
  height: 300px;
}

.unit-group-player {
  background-color: purple;
  left: 20px;
}

.unit-group-ai {
  background-color: crimson;
  right: 20px;
}
